/* CSS FOR SPECIFIC CONTACT PAGE STYLES */

.about__icon-img {
  width: 5rem;
  margin-right: 1rem;
}

.submission-form iframe {
  width: 45rem;
  height: 55rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
  .about__icon-img {
    width: 3rem;
    margin-right: 0.5rem;
  }

  .submission-form iframe {
    width: 95%;
    height: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .about__icon-img {
    width: 4rem;
    margin-right: 0.75rem;
  }

  .submission-form iframe {
    width: 80%;
    height: 450px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .about__icon-img {
    width: 4.5rem;
    margin-right: 1rem;
  }

  .submission-form iframe {
    width: 60%;
    height: 500px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}