/* CSS FOR SPECIFIC CONTACT PAGE STYLES */

.about__icon-img {
  width: 5rem;
  margin-right: 1rem;
}

.submission-form iframe {
   width: 45rem;
  height: 55rem;
  margin-top: 2%;
  margin-bottom: 2%;
}