/* CSS FOR SPECIFIC EVENTS PAGE STYLES */

.calendar iframe {
  border-width: 0;
  width: 80rem;
  height: 60rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.calendar__calendar {
  display: flex;
  align-content: center;
  justify-content: center;
}

.about__img--smaller {
  max-width: 35rem;
  height: 35rem;
  margin-right: 10rem;
  margin-left: 0;
}

.dividing-line--with-margin {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
  .calendar iframe {
    width: 95%;  
    height: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .calendar__calendar {
    flex-direction: column;
    align-items: center;
  }

  .about__img--smaller {
    max-width: 90%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .dividing-line--with-margin {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .calendar iframe {
    width: 80%;
    height: 450px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .calendar__calendar {
    flex-direction: column;
    align-items: center;
  }

  .about__img--smaller {
    max-width: 60%;
    height: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .dividing-line--with-margin {
    margin-top: 3%;
    margin-bottom: 3%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .calendar iframe {
    width: 60%;
    height: 500px;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .calendar__calendar {
    flex-direction: row;
    justify-content: center;
  }

  .about__img--smaller {
    max-width: 45rem;
    height: 35rem;
    margin-right: 5rem;
    margin-left: 0;
  }

  .dividing-line--with-margin {
    margin-top: 4%;
    margin-bottom: 4%;
  }
}
