/* CONTAINS GLOBAL (BASE) STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1A1E23;
}

html {
  font-size: 16px; /* for rem */
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: #FEF9FF;
}

h1 {
  font-size: 6rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
p {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
}

a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.centered {
  text-align: center;
}

/* For larger mobile devices*/
@media (max-width: 768px) {
 html {
  font-size: 15px;
 } 
}

/* For small phones */
@media (max-width: 480px) {
 html {
  font-size: 14px;
 } 
}