/* CSS FOR SPECIFIC HOME PAGE STYLES */

/* HERO */
.hero--with-background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/images/home_hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
  padding: 0;
}

.hero__header--white {
  color: #FEF9FF;
}

/* ACHIEVEMENTS */
.achievements {
  background: #FFC95C;
}

.achievements__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.achievements__header {
  margin-bottom: 1%;
}

.achievements__subheading {
  margin-bottom: 2%;
}

.achievements__info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 30rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 5%;
  border-radius: 32px;
}

.achievements__info-box h1 {
  color: #FEF9FF;
}

.achievements__info-box p {
  color: #FEF9FF;
  text-align: center;
}

.achievements__info-box--medals {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/images/home_achievement-image-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.achievements__info-box--winners {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/images/home_achievement-image-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.achievements__info-box--nats {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/images/home_achievement-image-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .hero--with-background-image {
    height: 80vh; /* scales with screen */
  }
}

@media (max-width: 768px) {
  .hero--with-background-image {
    height: 60vh;
    background-position: center top;
  }
}

@media (max-width: 768px) {
  .achievements__info-box {
    max-width: 16rem;
    height: 22rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 480px) {
  .achievements__info-box {
    max-width: 90%;
    height: auto;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .achievements__header {
    margin-bottom: 5%;
  }

  .achievements__subheading {
    margin-bottom: 5%;
  }
}

@media (max-width: 480px) {
  .achievements__info-box h1 {
    font-size: 1.5rem;
  }

  .achievements__info-box p {
    font-size: 0.9rem;
  }
}