/* THE MASTER FILE (IMPORTS ALL CSS CODE INTO ONE FILE FOR INDEX.HTML) */
@import "global.css";
@import "components.css";
@import "home.css";
@import "about.css";
@import "contact.css";
@import "events.css";
@import "achievements.css";
@import "join.css";